
<!--
<div class="recipe-list-topbar-container-sticky">
    <nav class="navbar navbar-default recipe-list-topbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand">Recipes</span>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-default navbar-btn btn-success"  style="margin-right: 5px;" aria-label="Add recipe">Add</button>
                <div class="btn-group navbar-btn" role="group" aria-label="..." style="margin-right: 5px;">
                    <button type="button" class="btn btn-default" aria-label="Print recipe(s)">
                        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Remove recipe(s)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown" dropdown>
                        <a class="dropdown-toggle"
                           dropdown-toggle
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">{{numPerPage}} item(s) <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a data-ng-click="setNumPerPage(1);">1 item(s)</a></li>
                            <li><a data-ng-click="setNumPerPage(3);">3 item(s)</a></li>
                            <li><a data-ng-click="setNumPerPage(5);">5 item(s)</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a data-ng-click="setNumPerPage(totalItems);">Show all</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
-->
<!--
<button type="button" class="btn btn-default btn-primary" aria-label="Add recipe" ng-click="isSbVisible = !isSbVisible;">Tgl</button>
<br><br>
<div class="row" style="overflow-x: hidden;">
    <div ng-class="isSbVisible ? 'col-md-9' : 'col-md-12'" style="transition: width 0.3s ease;">
        <div class="panel panel-default">
            <div class="panel-body">
                Blubb
            </div>
        </div>
    </div>
    <div ng-class="isSbVisible ? 'col-md-3' : 'col-md-3 collapsed'" style="transition: margin 0.3s ease;">
        <div class="panel panel-default">
            <div class="panel-body">
                Blubb
            </div>
        </div>
    </div>
</div>
-->
<div class="spacer-top" id="spacerTop"></div>
<div class="row recipe-list-main-row">
    <div data-ng-class="sidebarIsVisible ? 'col-md-8' : 'col-md-12'" style="padding: 0px; padding-right: 15px; transition: width 0.2s ease;">
        <nav class="navbar navbar-default recipe-list-toolbar" id="recipeListToolbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand" translate>RECIPE_MGMT.RECIPES</span>
                </div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="input-group" translate>
                        <input type="text" class="form-control" placeholder="{{'RECIPE_MGMT.SEARCH' | translate}}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true" aria-label="{{'RECIPE_MGMT.SEARCH' | translate}}"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <div class="pull-right">
                    <button type="button" class="btn btn-default navbar-btn btn-primary"  style="margin-right: 5px;" aria-label="Add recipe" ng-click="openEdit(null);" translate>RECIPE_MGMT.ADD</button>
                    <div class="btn-group navbar-btn" role="group" aria-label="..." style="margin-right: 5px;">
                        <button type="button" class="btn btn-default" aria-label="Print recipe(s)">
                            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" aria-label="Remove recipe(s)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown" dropdown>
                            <a class="dropdown-toggle"
                               dropdown-toggle
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{{numPerPage == totalItems ? '' : numPerPage}} <span translate>{{numPerPage == totalItems ? 'RECIPE_MGMT.ITEMS_ALL' : 'RECIPE_MGMT.ITEMS'}}</span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a data-ng-click="setNumPerPage(1);">1 <span translate>RECIPE_MGMT.ITEMS</span></a></li>
                                <li><a data-ng-click="setNumPerPage(3);">3 <span translate>RECIPE_MGMT.ITEMS</span></a></li>
                                <li><a data-ng-click="setNumPerPage(5);">5 <span translate>RECIPE_MGMT.ITEMS</span></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a data-ng-click="setNumPerPage(totalItems);" translate>RECIPE_MGMT.ITEMS_ALL</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="list-group panel panel-default recipe-list-container" recipe-list-max-height>
            <div class="row list-group-item recipe-list-group-item"
                 data-ng-repeat="recipe in recipesList"
                 data-ng-click="selectRecipe(recipe, false)"
                 data-ng-dblclick="openEdit(recipe)"
                 data-ng-class="selectedRecipes.indexOf(recipe) != -1 ? 'active' : 'inactive'">
                <div class="col-md-2" style="padding: 0px;">
                    <img class="list-group-item-text img-responsive" ng-show="{{recipe.image}}" data-ng-src="{{recipe.image}}" alt="{{recipe.name}}">
                </div>
                <div class="col-md-6" style="padding: 15px; max-height: 100px;">
                    <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                    <p class="list-group-item-text">{{recipe.description}}</p>
                </div>
                <div class="col-md-4" style="padding: 15px;">
                    <h4 class="list-group-item-heading pull-right">{{recipe.price}}</h4>
                </div>
            </div>
        </div>
        <div id="recipeListPagination">
            <pagination id="recipeListPag" total-items="totalItems" items-per-page="numPerPage" data-ng-model="currentPage" num-pages="numPages"
                        class="pagination-sm pull-right" boundary-links="true" rotate="false" max-size="maxSize"></pagination>
        </div>
    </div>
    <div data-ng-class="sidebarIsVisible ? 'col-md-4' : 'col-md-4 collapsed'" style="padding: 0px; transition: margin 0.2s ease;">
        <div class="panel panel-default recipe-list-sidebar" sidebar-max-height>
            <div style="position: relative;">
                <img class="img-responsive" ng-src="{{selectedRecipes[0].image}}" ng-show="selectedRecipes[0].image">
                <div class="form-group btn-group pull-right" role="group" aria-label="..." style="position: absolute; right: 15px; top: 15px;">
                    <button type="button" ng-click="openEdit(selectedRecipes[0])" class="btn btn-default" aria-label="Edit recipe(s)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Close sidebar" ng-click="disbaleSidebar();">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <form class="panel-body form-horizontal" method="post" action="#">
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label sidebar-control-label" translate>RECIPE_MGMT.TITLE</label>
                    <div class="col-md-8">
                        <input class="form-control" ng-model="selectedRecipes[0].name" type="text" name="title" placeholder="{{'RECIPE_MGMT.TITLE' | translate}}">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label sidebar-control-label" translate>RECIPE_MGMT.DESCRIPTION</label>
                    <div class="col-md-8">
                        <textarea ng-model="selectedRecipes[0].description" class="form-control" name="description" placeholder="{{'RECIPE_MGMT.DESCRIPTION' | translate}}"></textarea>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label sidebar-control-label" translate>RECIPE_MGMT.LANGUAGE</label>
                    <div class="col-md-8">
                        <label class="radio-inline"><input type="radio" ng-model="selectedRecipes[0].language" name="language" value="en"><img class="icon icon-en-24"></label>
                        <label class="radio-inline"><input type="radio" ng-model="selectedRecipes[0].language" name="language" value="de"><img class="icon icon-de-24"></label>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label sidebar-control-label" translate>RECIPE_MGMT.PRICE</label>
                    <div class="col-md-8">
                        <div class="input-group input-group-sm">
                            <input ng-model="selectedRecipes[0].price" class="form-control" type="text" name="price" placeholder="{{'RECIPE_MGMT.PRICE' | translate}}" aria-describedby="basic-addon2">
                            <span class="input-group-addon" id="basic-addon2">€</span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label sidebar-control-label" translate>RECIPE_MGMT.INGREDIENTS</label>
                    <div class="col-md-8">
                        <input ng-model="selectedRecipes[0].ingredients" class="form-control" type="text" name="ingredients" placeholder="{{'RECIPE_MGMT.INGREDIENTS' | translate}}">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label sidebar-control-label" translate>RECIPE_MGMT.COOKINGINSTRUCTIONS</label>
                    <div class="col-md-8">
                        <textarea ng-model="selectedRecipes[0].cookingInstructions" class="form-control" type="text" name="cookingInstructions" placeholder="{{'RECIPE_MGMT.COOKINGINSTRUCTIONS' | translate}}"></textarea>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label sidebar-control-label" translate>RECIPE_MGMT.PORTIONS</label>
                    <div class="col-md-8">
                        <input ng-model="selectedRecipes[0].portions" class="form-control" type="number" name="portions" placeholder="{{'RECIPE_MGMT.PORTIONS' | translate}}" min="1">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label sidebar-control-label" translate>RECIPE_MGMT.COOKTIMEMINUTES</label>
                    <div class="col-md-8">
                        <div class="input-group input-group-sm">
                            <input ng-model="selectedRecipes[0].cookTimeMinutes" class="form-control" type="text" name="cookTimeMinutes" placeholder="{{'RECIPE_MGMT.COOKTIMEMINUTES' | translate}}" aria-describedby="basic-addon3">
                            <span class="input-group-addon" id="basic-addon3">min(s)</span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label sidebar-control-label" translate>RECIPE_MGMT.PREPTIMEMINUTES</label>
                    <div class="col-md-8">
                        <div class="input-group input-group-sm">
                            <input ng-model="selectedRecipes[0].prepTimeMinutes" class="form-control" type="text" name="prepTimeMinutes" placeholder="{{'RECIPE_MGMT.PREPTIMEMINUTES' | translate}}" aria-describedby="basic-addon5">
                            <span class="input-group-addon" id="basic-addon5">min(s)</span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label sidebar-control-label" translate>RECIPE_MGMT.DIFFICULTY</label>
                    <div class="col-md-8">
                        <div class="input-group input-group-sm">
                            <input ng-model="selectedRecipes[0].difficulty" class="form-control" type="text" name="difficulty" placeholder="{{'RECIPE_MGMT.DIFFICULTY' | translate}}">
                            <div class="input-group-btn" dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a ng-click="selectedRecipes[0].difficulty = 'very easy'" translate>RECIPE_MGMT.DIFFICULTY_VERY_EASY</a></li>
                                    <li><a ng-click="selectedRecipes[0].difficulty = 'easy'" translate>RECIPE_MGMT.DIFFICULTY_EASY</a></li>
                                    <li><a ng-click="selectedRecipes[0].difficulty = 'medium'" translate>RECIPE_MGMT.DIFFICULTY_MEDIUM</a></li>
                                    <li><a ng-click="selectedRecipes[0].difficulty = 'hard'" translate>RECIPE_MGMT.DIFFICULTY_HARD</a></li>
                                    <li><a ng-click="selectedRecipes[0].difficulty = 'very hard'" translate>RECIPE_MGMT.DIFFICULTY_VERY_HARD</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label sidebar-control-label" translate>RECIPE_MGMT.CALORIES</label>
                    <div class="col-md-8">
                        <div class="input-group input-group-sm">
                            <input ng-model="selectedRecipes[0].calories" class="form-control" type="number" name="calories" placeholder="{{'RECIPE_MGMT.CALORIES' | translate}}" aria-describedby="basic-addon4" min="1">
                            <span class="input-group-addon" id="basic-addon4">Cal</span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label sidebar-control-label" translate>RECIPE_MGMT.CATEGORIES</label>
                    <div class="col-md-8">
                        <input ng-model="selectedRecipes[0].categories" class="form-control" type="text" name="categories" placeholder="{{'RECIPE_MGMT.CATEGORIES' | translate}}">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label sidebar-control-label" translate>RECIPE_MGMT.AUTHOR</label>
                    <div class="col-md-8">
                        <input ng-model="selectedRecipes[0].author" class="form-control" type="text" name="author" placeholder="{{'RECIPE_MGMT.AUTHOR' | translate}}" disabled>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
