
<div ng-controller="RecipeAddCntl" id="addRecipeModal" role="modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addRecipeModalLabel" translate>RECIPE_MGMT.SUBMIT_RECIPE</h4>
    </div>
    <div class="modal-body" id="recipeForm">
        <form method="post" action="#">
            <div class="form-group">
                <label translate>RECIPE_MGMT.TITLE</label>
                <input ng-model="recipeName" class="form-control" type="text" name="title">
            </div>
            <div class="form-group">
                <label translate>RECIPE_MGMT.DESCRIPTION</label>
                <textarea ng-model="recipeDescription" class="form-control" name="description"></textarea>
            </div>
            <div class="form-group">
                <label translate>RECIPE_MGMT.PRICE</label>
                <input ng-model="recipePrice" class="form-control" type="text" name="price">
            </div>
            <div class="form-group">
                <label translate>RECIPE_MGMT.IMAGE</label>
                <input ng-model="recipeImage" type="file" name="image" id="recipeImage">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$close()" translate>RECIPE_MGMT.CANCEL</button>
        <button type="button" ng-disabled="{{imageBusy}}" class="btn btn-primary" ng-click="saveRecipe()" translate>
            RECIPE_MGMT.SUBMIT_RECIPE
        </button>
    </div>
</div>