<!DOCTYPE html>
<html>
<body>
<div class="row">
    <div class="row">
  		<div class="col-md-4">
  			<!--<h1>This is the login to the devonfw restaurant example application as technical showcase for an AngularJS client.</h1>-->
            <img src="main/img/login_logo.png" class="center-block"/>
            <h2><label translate>OASP.LOG_IN</label></h2>
            <alert data-ng-show="errorMessage.hasOne()" data-close="errorMessage.clear()" data-type="danger"><span data-ng-bind="errorMessage.text"></span></alert>
            <form name="loginForm" novalidate>
                <p>
                    <span class="label label-danger" data-ng-show="validation.userNameNotProvided()"><label translate>OASP.userNameNotProvided</label></span>
                    <input type="text" placeholder="{{'OASP.USERNAME' | translate}}" name="userName" class="form-control" data-ng-model="credentials.username" data-ng-required="true" translate>
                </p>
                <p>
                    <span class="label label-danger" data-ng-show="validation.passwordNotProvided()"><label translate>OASP.passwordNotProvided</label></span>
                    <input type="password" placeholder="{{'OASP.PASSWORD' | translate}}" name="password" class="form-control" data-ng-model="credentials.password" data-ng-required="true">
                </p>
                <p>
                    <button type="submit" class="btn btn-success" data-ng-click="signIn()" translate>OASP.LOG_IN</button>
                </p>
            </form>
  		</div>
        <div class="col-md-8">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" ng-repeat="Gericht in Gerichte" data-slide-to="{{Gericht}}" ng-class="{active: (Gericht === 0)}"></li>
                </ol>

                <!-- Wrapper for slides -->

                <div class="carousel-inner" role="listbox">
                    <div class="item" ng-class="{active:!$index}" ng-repeat="Gericht in Gerichte">
                        <img src="{{Gericht.bild}}" alt={{Gericht.bezeichnung}}>
                        <div class="carousel-caption">
                            <h3>{{Gericht.bezeichnung}}</h3>
                            <div class="row">
                                <div class="col-md-10">
                                    {{Gericht.beschreibung}}
                                </div>
                                <div class="col-md-2">
                                    {{Gericht.preis}}€
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
