<!DOCTYPE html>
<html>
<body>
<div class="row">
    <div class="row">
  		<div class="col-md-4">
  			<h1 translate="">OASP.LANDINGPAGE_TEXT</h1>
            <img src="main/img/login_logo.png" class="center-block"/>
            <h2><label translate>OASP.LOG_IN</label></h2>
            <alert data-ng-show="errorMessage.hasOne()" data-close="errorMessage.clear()" data-type="danger"><span data-ng-bind="errorMessage.text"></span></alert>
            <form name="loginForm" novalidate>
                <p>
                    <span class="label label-danger" data-ng-show="validation.userNameNotProvided()"><label translate>OASP.USERNAME_NOT_PROVIDED</label></span>
                    <input type="text" placeholder="{{'OASP.USERNAME' | translate}}" name="userName" class="form-control" data-ng-model="credentials.username" data-ng-required="true" translate>
                </p>
                <p>
                    <span class="label label-danger" data-ng-show="validation.passwordNotProvided()"><label translate>OASP.PASSWORD_NOT_PROVIDED</label></span>
                    <input type="password" placeholder="{{'OASP.PASSWORD' | translate}}" name="password" class="form-control" data-ng-model="credentials.password" data-ng-required="true">
                </p>
                <p>
                    <button type="submit" class="btn btn-success" data-ng-click="signIn()" translate>OASP.LOG_IN</button>
                </p>
            </form>
  		</div>
        <div class="col-md-8">
            <div menu>
                <div class="col-xs-2 asc" translate>
                    OASP.TOPSELLER
                </div>
                <div class="col-xs-10">
                    <div ng-repeat="recipe in recipeList | limitTo: quantity" class="row">
                        <div ng-style="{'background-image':'url('+recipe.imageId+')'}"  class="col-sm-12 menu-list-group-item" menuitem>
                            <div class="menu-list-group-item-description">
                                <h1>{{recipe.name}}</h1>
                                <p class="description">{{recipe.description}}</p><h2 class="price">{{recipe.price}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
