@import "bower_components/bootstrap/less/bootstrap";
@import "main/css/variables";
@import "main/css/mixins";

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.table-striped {
  tbody {
    > tr.active {
      &:hover {
        > td {
          background-color: darken(@brand-info, 10%)
        }
      }
      > td {
        background-color: @brand-info;
      }
    }
  }
  & * {
    .user-select(none);
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.row {
  margin-bottom: 20px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

.cook-positions div.assignment {
  text-align: center;
  margin-top: 150px;
}

#recipeForm {
  margin-top: 50px;
  width: 400px;
}
//Marc Schwede - Text hochkant
.asc {
    // Chrome & Safari
    -webkit-transform: rotate(-90deg);
    // Firefox
    -moz-transform: rotate(-90deg);
    // Opera
    -o-transform: rotate(-90deg);
    top: 50%;
    white-space:nowrap;
    font-size: xx-large;
}
.gerichteWell {
    background-color: @backgroundColorGerichteWell;
    border: 1px;
    border-style: solid;
    border-color: grey;
    color: white;
}
.well-sm {
    background-color: @backgroundColorGerichteWell;
}

.recipe-list {
    margin-top: 50px;
}

.recipe-list-group-item {
    margin-top: -1px !important;
    padding: 0px !important;

    &:hover,
    &:focus {
        text-decoration: none;
        color: @list-group-link-hover-color;
        background-color: @list-group-hover-bg;
    }
}
