.recipe-add-pop-up .control-label{
    text-align: left !important;
}

// RecipeList
.spacer-top {
    height: 50px;
}

.recipe-list-main-row {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; // important for sidebar slide
}

.recipe-list-toolbar {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    margin: 0px;
}

.recipe-list-container {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -1px !important;
    overflow-y: auto !important;
    overflow-y: scroll;
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow-x: hidden !important;
}

.recipe-list-group-item {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: -1px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;

    border-left-width: 0px !important;
    border-right-width: 0px !important;

    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

    &:hover,
    &:focus {
        text-decoration: none;
        color: @list-group-link-hover-color;
        background-color: @list-group-hover-bg;
    }
}

.recipe-list-sidebar {
    //margin-left: 15px;
    width: 100%;
    overflow-y: auto !important;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.sidebar-control-label {
    text-align: left !important;
}

.collapsed {
    display: none; // hide it for small displays
}

@media (min-width: 992px) {
    .collapsed {
        display: block;
        margin-right: -34%; // min width = sidebar!!!
    }
}

// Not used currently
/*.recipe-list {
    margin-top: @top-padding;
}
.recipe-list-topbar-container-sticky {
    position: sticky;
    top: @top-padding;
    width: 100%;
    min-height: @top-padding * 2;
    background-color: white;
    z-index: 999;
}
.recipe-list-topbar {
    position: relative;
    top: @top-padding;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}*/

#imagepreview {
    max-width: 100%;
    margin-top: 14px;
    box-shadow: 0 0 6px #999;
}

#addRecipeModal input,
#addRecipeModal textarea {
    border: 1px solid transparent;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8em;
    padding: 0;
}
#addRecipeModal input:focus,
#addRecipeModal textarea:focus {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    cursor: text;
    font-weight: normal;
    font-size: 1em;
    padding: 6px 12px;
}
.input-group-addon {
    border: 1px solid transparent;
    background-color: transparent;
    color: #000;
    font-size: 0.8em;
}
#addRecipeModal input:focus ~ .input-group-addon {
    border: 1px solid #ccc;
    background-color: #eeeeee;
    color: #555555;
    font-size: 1em;
}
#ingredientTable td input {
    width: 90%;
}