<assembly>
    <id>web</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <fileSets>
        <fileSet>
            <directory>../dist</directory>
            <outputDirectory>/</outputDirectory>
        </fileSet>
	<fileSet>
	    <directory>../app/bower_components/bootstrap/dist</directory>
            <outputDirectory>/</outputDirectory>
        </fileSet> 
   </fileSets>
</assembly>
